{% extends 'base.html' %}
{% block content %}
<h3>My Books</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Genre</th>
        <th scope="col">Return book</th>
    </tr>
    </thead>
    {% for row in data %}
    {% if current_user in row.users%}
    <tbody>
    <tr class="table-success">
        <th scope="row">{{ row.authors }}</th>
        <td>{{ row.title }}</td>
        <td>{{ row.genre }}</td>
        <td><a style="text-decoration:none; color:black;" href="/return_book/{{row.id}}">Return</a></td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}